.navbar{
    background-color: #fe6f27;
  }

p{
    color: #fe6f27;
}

.about1{
  text-align: center;
  align: center;
  font-size: large;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  color:rgb(228, 219, 208);
}

.name{
    font-weight: bold;
    
}

.team{
    align: center;
    margin-left: 450px;
    margin-top: 50px;
}

li{
    list-style-type: none;
}

.polaroid {
    width: 70%;
    background-color: #2F2F2F;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 120px;
  }
  
.info_container {
    text-align: center;
  }

.desc{
    font-weight: normal;
    
  }

.profiledesc{
  font-weight: normal;
  color:rgb(228, 219, 208)
  
}