.form{
    margin-top: 200px;
    margin-left: 350px;
    margin-right: 340px;
  }


.btn{
  margin-right: 35px;
}


.navbar{
  background-color: #fe6f27;
}

.sign-up{
  margin-left: 0px;
  margin-top: 20px;
}




